<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>甜橙云音乐</title>
    <link href="{{ url_for('static',filename='css/pt_discover_index.css')}}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/pt_frame.css')}}" type="text/css" rel="stylesheet">
</head>
<body id="" style="background: url('static/image/bg.jpg') no-repeat">
<div data-module="discover" data-sub="artist" id="g_top" class="m-top">&nbsp;</div>
<div id="g_nav" class="m-subnav">&nbsp;</div>

<div class="g-bd2 f-cb">
    <div class="g-sd2">
        <div class="g-wrap4 n-sgernav" id="singer-cat-nav" style="background: url('static/image/bg-middle.png') no-repeat">
            <h2 class="tit"><a href="{{url_for('home.artistList')}}">全部</a></h2>
            <div class="blk">
                <h2 class="tit"><a href="{{url_for('home.artistList',type=1)}}">华语</a></h2>

            </div>
            <div class="blk">
                <h2 class="tit"><a href="{{url_for('home.artistList',type=2)}}">欧美</a></h2>

            </div>
            <div class="blk">
                <h2 class="tit"><a href="{{url_for('home.artistList',type=3)}}">日本</a></h2>

            </div>
            <div class="blk">
                <h2 class="tit"><a href="{{url_for('home.artistList',type=4)}}">韩国</a></h2>

            </div>
            <div class="blk">
                <h2 class="tit"><a href="{{url_for('home.artistList',type=5)}}">其他</a></h2>
            </div>
        </div>
    </div>
    <div class="g-mn2">
        <div class="g-mn2c">
            <div class="g-wrap">
                <div class="u-title f-cb">
                    <h3>
                        <span class="f-ff2">
                        	{% if type == 1 %}
							华语歌手
							{% elif type == 2%}
							欧美歌手
							{% elif type == 3%}
							日语歌手
							{% elif type == 4%}
							韩语歌手
							{% elif type == 5%}
							其他歌手
							{% else %}
							全部歌手
							{% endif %}
                        </span>
                    </h3>
                </div>
                <div class="m-sgerlist">
                    <ul class="m-cvrlst m-cvrlst-5 f-cb">
                        {% for artist in page_data.items %}
                        <li>
                            <div class="u-cover u-cover-5">
                                <img src="static/images/artist/{{artist.imgURL}}">
                                <a href="{{url_for('home.artist',id=artist.id)}}" class="msk" title="{{artist.artistName}}"></a>
                            </div>
                            <p>
                                <a href="{{url_for('home.artist',id=artist.id)}}" class="nm nm-icn f-thide s-fc0" title="{{artist.artistName}}">{{artist.artistName}}</a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="24" align="right">
                            当前页数：[{{page_data.page}}/{{page_data.pages}}]&nbsp;
                            <a href="{{ url_for('home.artistList',page=1,type=type) }}">第一页</a>
                                {% if page_data.has_prev %}
                                  <a href="{{ url_for('home.artistList',page=page_data.prev_num,type=type) }}">上一页</a>
                                {% endif %}
                                {% if page_data.has_next %}
                            　     <a href="{{ url_for('home.artistList',page=page_data.next_num,type=type) }}">下一页</a>
                                {% endif %}　
                            <a href="{{ url_for('home.artistList',page=page_data.pages,type=type) }}">最后一页&nbsp;</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>