<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>甜橙云音乐</title>
		<link href="{{ url_for('static',filename='css/pt_discover_index.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='css/pt_frame.css')}}" type="text/css" rel="stylesheet">
    </head>
    <body id="auto-id-ws7DxlhbPlyHTsnX" style="background: url('../../static/image/bg.jpg') no-repeat">
        <div data-module="discover" data-sub="playlist" id="g_top" class="m-top"></div>
        <div id="g_nav" class="m-subnav"></div>
        <script>
try {
    top.matchNav("discover", "playlist");
} catch (e) {
}
</script>
    <div class="g-bd" id="m-disc-pl-c">
        <div class="g-wrap p-pl f-pr">

            <div id="m-search">
                <div class="ztag j-flag" id="auto-id-oRFIQkCKNyCtcR5R">
                    <div class="n-srchrst">
                        <div class="srchsongst">
                            {% for collect in page_data.items %}
                            <div class="item f-cb h-flag even ">
                                <div class="td">
                                    <div class="hd">
                                        <a class="ply " title="播放"
                                            onclick='playA("{{collect.song.songName}}","{{collect.song.id}}");'></a>
                                    </div>
                                </div>
                                <div class="td w0">
                                    <div class="sn">
                                        <div class="text">
                                            <b title="Lose Yourself "><span
                                                    class="s-fc7">{{collect.song.songName}}</span></b>
                                        </div>
                                    </div>
                                </div>

                                <div class="td w1">
                                    <div class="text">
                                        {{collect.song.singer}}
                                    </div>
                                </div>
                                <div class="td w1">
                                   {% if collect.song.style == 1 %}
                                    华语
                                    {% elif collect.song.style == 2%}
                                    欧美
                                    {% elif collect.song.style == 3%}
                                    日语
                                    {% elif collect.song.style == 4%}
                                    韩语
                                    {% elif collect.song.style == 5%}
                                    其他
                                    {% endif %}
                                </div>
                                <div class="td">
                                    播放：{{collect.song.hits}}次
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="24" align="right">
                        当前页数：[{{page_data.page}}/{{page_data.pages}}]&nbsp;
                        <a href="{{ url_for('home.collectList',page=1) }}">第一页</a>
                            {% if page_data.has_prev %}
                              <a href="{{ url_for('home.collectList',page=page_data.prev_num) }}">上一页</a>
                            {% endif %}
                            {% if page_data.has_next %}
                        　     <a href="{{ url_for('home.collectList',page=page_data.next_num) }}">下一页</a>
                            {% endif %}　
                        <a href="{{ url_for('home.collectList',page=page_data.pages) }}">最后一页&nbsp;</a>
                    </td>
                    </tr>
                </table>
                <div class="j-flag"></div>
            </div>
        </div>
    </div>
<script>
function playA(name,id){
    window.parent.playMusic(name,id);
}
</script>
    </body>
</html>
